@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -600px 0;
  }

  100% {
    background-position: 600px 0;
  }
}

@-moz-keyframes placeHolderShimmer {
  0% {
    background-position: -600px 0;
  }

  100% {
    background-position: 600px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -600px 0;
  }

  100% {
    background-position: 600px 0;
  }
}

.placeholder-wrapper {
  -webkit-animation: placeHolderShimmer 1s linear infinite forwards;
  -moz-animation: placeHolderShimmer 1s linear infinite forwards;
  animation: placeHolderShimmer 1s linear infinite forwards;
  background: linear-gradient(to right, #d2d2d2 8%, #ababab 18%, #d2d2d2 33%);
  background-size: 1200px 104px;
  height: 100%;
  position: relative;
}

.placeholder-line {
  height: 18px;
}

.placeholder-offset {
  position: absolute;
  display: inline-block;
  background-color: #fff;
  height: inherit;
}

.placeholder-container {
  height: inherit;
}

.feed .placeholder-wrapper {
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
}

.feed .placeholder-wrapper:first-child {
  border-top: none;
}